.favorites{
    display: flex;
    justify-content: center;
    padding-top: 6px;
}

.favourites-city{
    Background-color: #007ced;
    border-color: white;
    color: white;
    height: 3vh;
    margin: 3px;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 12px;
}
.favourites-city-icon{
    margin-left: 5px;
    cursor: pointer;
}
.favourites-city-name{
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
}