.favorites{
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.favourites-city{
    background-color: aqua;
    height: 4vh;
    margin: 3px;
    display: flex;
    align-items: center;
}
.favourites-city-icon{
    margin-left: 5px;
    cursor: pointer;
}
.favourites-city-name{
    margin-left: 5px;
    cursor: pointer;
    font-size: 18px;
}